*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .hero{
  background-color:#132520;
}

.textgradient {
  background: linear-gradient(0deg, rgba(255,56,2,1) 0%, rgba(131,31,5,1) 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 @font-face {
  font-family: "drippy";
  src: url(bacon.woff);
}

@font-face {
  font-family: "atalon";
  src: url(atalon.woff);
}

a{
  color: #CFE0C3;
  background-color: #132520;
}